[token]
token_to_cloud = OAuth token yandex disk
client_id = ClientID
client_secret = ClientSecret

[file_data]
local_path = your local path (/Users/your_name/docs/...)
dirname_in_cloud = name of dir in cloud -> my_data
frequency_sync_period = period of sync -> 25 (default in minutes)

[log]
path_to_file_log = None